/* CSS RESET -> makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Variables */
:root {
  --bg-peach: #dcacac;
  --bg-white: #fff;
  --bg-dark: #2c2d47;
  --soft-gray: oklch(74.123% 0.01 271.152);
  --br-soft: 4px;
  --light-text: #000;
  --dark-text: #fff;
  --h1-lightmode: darkred;
  --h1-darkmode: lightcoral;
  --description-lightmode: lightgray;
  --description-darkmode: #3c3d57;
  --default-gap: 1rem;
  color-scheme: dark light;
}

/* Base typography */
body {
  background-color: var(--bg-peach);
  font-family: Arial, sans-serif;
  margin-top: 0;
  min-width: 300px;
}

h1, h2 {
  font-size: clamp(1.5rem, 1vw, 2.5rem);
  margin: 0.5rem 0;
}

ul, ol {
  padding-left: 2rem;
}

li {
  margin-bottom: 0.5rem;
}

p {
  color: light-dark(var(--light-text), var(--dark-text));
}
a {
  text-decoration: none;
  color: light-dark(var(--light-text), var(--dark-text));
  &:visited {
    color: light-dark(var(--light-text), var(--dark-text));
  }
}

nav {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  background-color: light-dark(var(--description-lightmode), var(--description-darkmode));
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.9rem, 1vw, 1.2rem);
  ul {
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: var(--default-gap);
    list-style: none;
    li {
      margin: 0;

      .current-page {
        pointer-events: none;
        text-decoration: underline;
      }

      &:hover { 
        a {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Component styles */
.container {
  max-width: clamp(300px, 70vw, 1200px);
  overflow:auto;
  margin: 0 auto; 
}

.title {
  color: light-dark(var(--h1-lightmode), var(--h1-darkmode));
}

.main-content {
  background-color: light-dark(var(--bg-white), var(--bg-dark));
  padding: 1rem;
}

.banner-image {
  width: 100%;
  height: auto;
}

.description {
  padding: 0.5rem;
  background-color: light-dark(var(--description-lightmode), var(--description-darkmode));
}

.gallery {
  display: flex;
  justify-content: space-between;
  
  img {
    width: 49%;
    height: auto;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    img {
      width: 100%;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      /* Setting gap:1rem on .gallery would be more efficient and not need these fixes 
        or width adjustments but for the selectors exercise i'm using this */
    }
  }
}

.hero {
  overflow: auto;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--default-gap);
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;



  img {
    border-radius: 0.5rem;
  }


  .grid-item {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

    
    a {
      display: block;
      padding-bottom: 1rem;
    }
    .text-container {
      margin: 1rem 1rem 0 1rem;
      h2 {
        font-size: 1rem;
      }
    }

  }

}