/* CSS RESET -> makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Variables */
:root {
  --bg-peach: #dcacac;
  --bg-white: #fff;
  --bg-dark: #2c2d47;
  --light-text: #000;
  --dark-text: #fff;
  --h1-lightmode: darkred;
  --h1-darkmode: lightcoral;
  --description-lightmode: lightgray;
  --description-darkmode: #3c3d57;
  color-scheme: dark light;
}

/* Base typography */
body {
  background-color: var(--bg-peach);
  font-family: Arial, sans-serif;
  margin-top: 0;
}

h1, h2 {
  font-size: clamp(1.5rem, 1vw, 2.5rem);
  margin: 0.5rem 0;
}

ul, ol {
  padding-left: 2rem;
}

li {
  margin-bottom: 0.5rem;
}

p {
  color: light-dark(var(--light-text), var(--dark-text));
}

/* Component styles */
.container {
  max-width: 800px;
  margin: 0 auto; 
  padding-bottom: 1rem;
}

.title {
  color: light-dark(var(--h1-lightmode), var(--h1-darkmode));
}

.main-content {
  background-color: light-dark(var(--bg-white), var(--bg-dark));
}

.content {
  margin: 0 1rem;
}

.banner-image {
  width: 100%;
  height: auto;
}

.description {
  padding: 0.5rem;
  background-color: light-dark(var(--description-lightmode), var(--description-darkmode));
}

.gallery {
  display: flex;
  justify-content: space-between;
  
  img {
    width: 49%;
    height: auto;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    img {
      width: 100%;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
